<div class="category">
  <div class="expense-container">
  <div><%= exchange.name %></div>
  <div class="exchange_amount">Amount Spent: $<%= exchange.amount%></div>
   <p class="expense-date"><%= exchange.created_at.strftime('%d %B %Y') %></p>
  </div>
</div>