<%= stylesheet_link_tag "splash"  %>
<div id="splash-body">
    <h1>Budgetry</h1>
    <%= button_to 'LOG IN', new_user_session_path, method: :get, class: 'btn' %>
     <%= button_to 'SIGN UP', new_user_registration_path, method: :get, class: 'btn-light' %>
</div>