<div id="<%= dom_id category %>"  class="category-lists-wrapper">
  <div class="desc">
  <div class="list_image"><img src="<%= category.icon%>" class="w-24"></div>
  <div><%= category.name%></div>
  <div>$<%= category.total_amount %></div>
  </div>
</div>