<section class="categories-controllers">
  <header class="input-container">
    <nav>
    <ul class="links">
    <h1 class="categ_title">CATEGORIES</h1>
    <li class="login">
    <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "submit" %>
    </li>
    </ul>
    </nav>
  </header>
  <div class="content">
  <div id="categories">
    <% if @categories.length == 0 %>
      <p class="empty_data text-center">No category yet. Add a new one!!!</p>
    <% else %>
      <% @categories.each do |category| %>
        <%= link_to category_exchanges_path category do %>
          <%= render category %>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>
  <div class='category-footer'>
    <%= button_to "Add Category", new_category_path, method: :get, class: 'category-btn' %>
  </div>
</section>